In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Write the code for your interactive webpage in this notebook.

In [2]:
# store login data in login.py
%run login.py

In [3]:
# login query as multiline formatted string
# this assumes that login and pwd are defined 
# above

loginquery = f"""
mutation {{
  logIn(
      email:\"{login}\",
      password:\"{pwd}\") {{
    jwt {{
      token
      exp
    }}
  }}
}}
"""

In [4]:
import requests
url = 'https://api.numina.co/graphql'

mylogin = requests.post(url, json={'query': loginquery})
mylogin

In [49]:
token = mylogin.json()['data']['logIn']['jwt']['token']

In [50]:
expdate = mylogin.json()
expdate

{'data': {'logIn': {'jwt': {'exp': '2020-03-16T22:25:52.036439',
    'token': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1ODQzOTc1NTIsImlhdCI6MTU4NDMxMTE1Miwic3ViIjoyNjh9.SZx1IGwWYmiGSflVms78KOdgEV_4w5GtKi4MEdyQtSQ'}}}}

In [51]:
device_ids = ['SWLSANDBOX1', 'SWLSANDBOX2', 'SWLSANDBOX3']

In [52]:
def get_zones(device_id):
    
    query_zones = """
    query {{
      behaviorZones (
        serialnos: "{0}"
        ) {{
        count
        edges {{
          node {{
            rawId
            text
          }}
        }}
      }}
    }}
    """.format(device_id)
    
    zones = requests.post(url, json={'query': query_zones}, headers = {'Authorization':token})
    
    df = pd.DataFrame([x['node'] for x in zones.json()['data']['behaviorZones']['edges']])
    df['device'] = device_id
    
    return df

In [53]:
zones_df = pd.concat([get_zones(device_ids[i]) for i in range(3)])

In [10]:
zones_df

    rawId            text       device
0    1899           Zone1  SWLSANDBOX1
1    1947        entrance  SWLSANDBOX1
2    1949       entrance1  SWLSANDBOX1
3    1956       modelzone  SWLSANDBOX1
4    1966    entrence alt  SWLSANDBOX1
5    1969  funny triangle  SWLSANDBOX1
6    1970            Test  SWLSANDBOX1
7    1971      Test Query  SWLSANDBOX1
8    1972          S Zone  SWLSANDBOX1
9    1973          stairs  SWLSANDBOX1
10   1975        leftZone  SWLSANDBOX1
11   1976       UpperLeft  SWLSANDBOX1
12   1977      UpperRight  SWLSANDBOX1
13   1978      LowerRight  SWLSANDBOX1
14   1979       LowerLeft  SWLSANDBOX1
15   1980       LowerLeft  SWLSANDBOX1
16   1981       LowerLeft  SWLSANDBOX1
0    1948         Seating  SWLSANDBOX2
1    1962      this place  SWLSANDBOX2
2    1963          exit 2  SWLSANDBOX2
0    1965           Zone1  SWLSANDBOX3
1    1974              ff  SWLSANDBOX3
2    1982           kenny  SWLSANDBOX3

In [11]:
def get_dwell(func, ID):
    '''
    func is either feedDwellTimeDistribution or zoneDwellTimeDistribution
    '''
    if func == 'feedDwellTimeDistribution':
        arg = 'serialnos: "{0}"'.format(ID)
    else:
        arg = 'zoneIds: {0}'.format(ID)
        
    query = """
    query {{
        {0}(
        {1},
        startTime: "2019-02-20T00:00:00",
        endTime: "2020-01-12T00:00:00",
        timezone: "America/New_York",
        objClasses: ["pedestrian"],
        interval: "1h"
        ){{
        edges {{
          node {{
            time
            objClass
            pct100
            pct75
            pct50
            pct25
            mean
            count
          }}
        }}
      }}
    }}
    """.format(func, arg)

    dwell = requests.post(url, json={'query': query}, 
                           headers = {'Authorization':token})
    
    df = pd.DataFrame([x['node'] for x in dwell.json()['data'][func]['edges']])
    if func == 'feedDwellTimeDistribution':
        df['device'] = ID
    else:
        df['zone'] = ID
    
    return df

In [12]:
feed_dwell_df = pd.concat([get_dwell('feedDwellTimeDistribution', device_ids[i]) 
                           for i in range(3)])

In [13]:
feed_dwell_df[feed_dwell_df['count']!=0]

,count,mean,objClass,pct100,pct25,pct50,pct75,time,device
9,18,21.80,pedestrian,47.44,2.61,2.61,7.23,2019-02-20T09:00:00-05:00,SWLSANDBOX1
10,200,8.38,pedestrian,9.91,2.09,2.09,4.19,2019-02-20T10:00:00-05:00,SWLSANDBOX1
11,291,9.05,pedestrian,11.47,2.11,2.11,4.72,2019-02-20T11:00:00-05:00,SWLSANDBOX1
12,716,20.25,pedestrian,18.23,2.63,2.63,6.73,2019-02-20T12:00:00-05:00,SWLSANDBOX1
13,520,13.82,pedestrian,15.08,2.61,2.61,5.78,2019-02-20T13:00:00-05:00,SWLSANDBOX1
...,...,...,...,...,...,...,...,...,...
7800,1,1.04,pedestrian,1.04,1.04,1.04,1.04,2020-01-11T00:00:00-05:00,SWLSANDBOX3
7814,5,4.77,pedestrian,6.26,3.58,3.58,5.22,2020-01-11T14:00:00-05:00,SWLSANDBOX3
7816,3,19.05,pedestrian,38.46,6.21,6.21,12.48,2020-01-11T16:00:00-05:00,SWLSANDBOX3
7817,13,17.69,pedestrian,26.04,5.22,5.22,11.97,2020-01-11T17:00:00-05:00,SWLSANDBOX3
7818,1,3.69,pedestrian,3.69,3.69,3.69,3.69,2020-01-11T18:00:00-05:00,SWLSANDBOX3

In [14]:
zone_dwell_df = pd.concat([get_dwell('zoneDwellTimeDistribution', z)
                           for z in zones_df['rawId'].values])

In [15]:
zone_dwell_df[zone_dwell_df['count']!=0]

,count,mean,objClass,pct100,pct25,pct50,pct75,time,zone
9,5,27.00,pedestrian,67.74,2.58,16.17,47.44,2019-02-20T09:00:00-05:00,1899
10,27,6.58,pedestrian,29.24,1.57,3.14,8.83,2019-02-20T10:00:00-05:00,1899
11,51,8.60,pedestrian,62.40,1.58,3.67,11.23,2019-02-20T11:00:00-05:00,1899
12,139,10.45,pedestrian,111.00,2.04,4.72,13.04,2019-02-20T12:00:00-05:00,1899
13,89,5.72,pedestrian,82.22,1.55,3.09,6.13,2019-02-20T13:00:00-05:00,1899
...,...,...,...,...,...,...,...,...,...
7792,3,1.78,pedestrian,3.60,0.87,1.29,2.45,2020-01-10T16:00:00-05:00,1982
7793,1,0.57,pedestrian,0.57,0.57,0.57,0.57,2020-01-10T17:00:00-05:00,1982
7796,1,2.63,pedestrian,2.63,2.63,2.63,2.63,2020-01-10T20:00:00-05:00,1982
7800,1,1.04,pedestrian,1.04,1.04,1.04,1.04,2020-01-11T00:00:00-05:00,1982
7814,4,0.74,pedestrian,1.21,0.50,0.79,1.02,2020-01-11T14:00:00-05:00,1982

### Obtain heatmap for pedestrians

In [34]:
from datetime import timedelta, datetime
from dateutil.relativedelta import relativedelta
import calendar
START_DATE = datetime(2019, 2, 20, 0, 0, 0)
END_DATE = datetime(2020, 1, 11, 0, 0, 0)
time_delta = relativedelta(days = +1)

In [35]:
import pandas as pd
heatmap_df = pd.DataFrame(columns = ['startTime', 'endTime', 'heatMap'])

In [36]:
def heatmap_query_gen(startTime: str, endTime: str):
    heatmap_query = """
query {{
  feedHeatmaps(
    serialno: "SWLSANDBOX1",
    startTime:"{0}",
    endTime:"{1}",
    objClasses:["pedestrian"],
    timezone:"America/New_York") {{
    edges {{
      node {{
        time
        objClass
        heatmap
      }}
    }}
  }}
}}
""".format(startTime, endTime)
    return heatmap_query

In [37]:
current_date = START_DATE

while current_date < END_DATE:
    
    start_time_str = current_date.strftime('%Y-%m-%dT%H:%M:%S')
    end_time = current_date + time_delta
    end_time_str = end_time.strftime('%Y-%m-%dT%H:%M:%S')
    heatmap_data = requests.post(url, json={'query': heatmap_query_gen(start_time_str, end_time_str)}, 
                         headers = {'Authorization':token})
    heatmap_json = heatmap_data.json()
    if heatmap_json['data']:
        if 'feedHeatmaps' in heatmap_json['data']:
            heatmap = heatmap_json['data']['feedHeatmaps']['edges'][0]['node']['heatmap']
            temp_df = pd.DataFrame({"startTime":current_date, "endTime":end_time, 'heatMap':heatmap})
            heatmap_df = heatmap_df.append(temp_df, ignore_index = True)
    current_date = current_date + time_delta

In [43]:
ed_heatmap_df = heatmap_df.groupby(['startTime', 'endTime'])['heatMap'].apply(list).reset_index(name='heatMapMatrix')

In [42]:
heatmap_df

         startTime    endTime            heatMap
0       2019-02-20 2019-02-21   [344, 31, 0.541]
1       2019-02-20 2019-02-21   [343, 32, 0.749]
2       2019-02-20 2019-02-21   [344, 32, 0.541]
3       2019-02-20 2019-02-21   [343, 33, 0.749]
4       2019-02-20 2019-02-21   [344, 33, 0.541]
...            ...        ...                ...
9976458 2020-01-10 2020-01-11  [402, 479, 0.824]
9976459 2020-01-10 2020-01-11  [403, 479, 0.824]
9976460 2020-01-10 2020-01-11  [404, 479, 0.824]
9976461 2020-01-10 2020-01-11  [405, 479, 0.824]
9976462 2020-01-10 2020-01-11  [406, 479, 0.824]

[9976463 rows x 3 columns]

In [45]:
ed_heatmap_df

     startTime    endTime                                      heatMapMatrix
0   2019-02-20 2019-02-21  [[344, 31, 0.541], [343, 32, 0.749], [344, 32,...
1   2019-02-21 2019-02-22  [[357, 39, 0.929], [358, 39, 0.929], [358, 40,...
2   2019-02-22 2019-02-23  [[306, 104, 0.918], [307, 105, 0.918], [308, 1...
3   2019-02-23 2019-02-24  [[242, 155, 1.0], [243, 156, 1.0], [243, 157, ...
4   2019-02-24 2019-02-25  [[474, 118, 1.0], [475, 118, 1.0], [476, 118, ...
..         ...        ...                                                ...
295 2020-01-06 2020-01-07  [[428, 82, 0.796], [429, 82, 0.796], [519, 82,...
296 2020-01-07 2020-01-08  [[122, 61, 0.835], [122, 62, 0.835], [123, 62,...
297 2020-01-08 2020-01-09  [[517, 79, 0.835], [518, 79, 0.992], [519, 79,...
298 2020-01-09 2020-01-10  [[518, 79, 0.953], [519, 79, 0.988], [520, 79,...
299 2020-01-10 2020-01-11  [[371, 100, 0.824], [372, 101, 0.824], [325, 1...

[300 rows x 3 columns]

In [48]:
matrix = ed_heatmap_df.loc[0, 'heatMapMatrix']

### ZoneHeatmap

In [58]:
def zone_heatmap_query_gen(startTime: str, endTime: str):
    heatmap_query = """
query {{
  zoneHeatmaps(
    zoneIds: [1947],
    startTime:"{0}",
    endTime:"{1}",
    objClasses:["pedestrian"],
    timezone:"America/New_York") {{
    edges {{
      node {{
        time
        heatmap
      }}
    }}
  }}
}}
""".format(startTime, endTime)
    return heatmap_query

In [59]:
zone_heatmap_df = pd.DataFrame(columns = ['startTime', 'endTime', 'heatMap'])

In [ ]:
current_date = START_DATE

while current_date < END_DATE:
    
    start_time_str = current_date.strftime('%Y-%m-%dT%H:%M:%S')
    end_time = current_date + time_delta
    end_time_str = end_time.strftime('%Y-%m-%dT%H:%M:%S')
    heatmap_data = requests.post(url, json={'query': zone_heatmap_query_gen(start_time_str, end_time_str)}, 
                         headers = {'Authorization':token})
    heatmap_json = heatmap_data.json()
    if heatmap_json['data']:
        if 'zoneHeatmaps' in heatmap_json['data']:
            heatmap = heatmap_json['data']['zoneHeatmaps']['edges'][0]['node']['heatmap']
            temp_df = pd.DataFrame({"startTime":current_date, "endTime":end_time, 'heatMap':heatmap})
            zone_heatmap_df = zone_heatmap_df.append(temp_df, ignore_index = True)
    current_date = current_date + time_delta